.button {
	cursor: pointer;
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	
}
.button:hover {
	opacity: 0.9;
}

.anotherone{
	position:relative;
	font-family: 'Fira Sans';
	background-color: #45a1ff;
	height: 80%;
	width: 100%;
	font-size: medium;
	color: white;
	text-align: center;
	cursor: pointer;
}
.anotherone.hover {
	opacity: 0.7;
}

.box{
	display:flex;
	margin-bottom: 5px;
	cursor: pointer;
	
}

.headline{
	flex: 1;
	background-color: #415BA9;
	font-family: 'Fira Sans';
	text-align: center;
	margin-right: 5px;
	color: white;
	
}
.quote{
	flex: 1;
	background-color: #415BA9;
	font-family: 'Fira Sans';
	text-align: center;
	color: white;
}